
@media (max-width: 980px){
    .timeline{
        background: url("../img/line.gif") repeat-y scroll 226px 0 rgba(0, 0, 0, 0);
        margin-left: 0px;
    }
    .timeline-head{
        float: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .timeline-head-content{
        width: 90%;
    }

    .timeline-item-date{
        width: 143px;
        margin-left: 60px;
    }
    .timeline-arrow i {
        left: 221px;
        top: 75px;
        transform: rotate(44deg);
        width: 10px;
    }    
    .timeline-item-content{
        margin-top:14px; 
        width: 90%;
    }
/***************************/
/* New Code Added  */
/***************************/

    .timeline{
        background: none;
    }
    .timeline::after{
        content: "";
        display: none;
    }
    .timeline-post{
        padding: 10px;        
    }
    .timeline-post-left, .timeline-post-right{
        width: 100%;
        text-align: left;
    }
    .timeline-post-right{
        margin-top: 0;
    }
    .timeline-post-content-holder::before{
        content: "";
        display: none;
    }
    .timeline-post-icon{
        display: none;
    }

    .timeline-end-icon{
        display: none;
    }

    
    .about-info {
        margin-top: 50px;
    }
    .about-extra {
        margin-top: 50px;
    }

    #filters{
        margin-right: 60px;
    }
    #filters li{
        display: block;
    }

}
@media (max-width: 600px){
    #header{
        left: 90px;
    }
    .avatar-section img{
        height: 400px;
        width: 400px;
    }    
    .info > h2{
        font-size: 60px;
    }
    .info > h3{
        font-size: 20px;
    }
    #open-nav.nav-half{
        float: left;
        margin-top:0px;

    }
    #open-nav.nav-full{
        margin-top: 0px;
    }
    #header{
        left: 0px;
    }
    .colors-switcher{
        display: none;
    }
}

@media (max-width: 480px){


    .navone li{
        padding: 12px 0;
    }   
    .clients_logo li{
        margin-left: 130px;
    }
    .section-title h2{
        font-size: 40px;
    }
    .work_process:before{
        display: none;
    }
    #options{
         margin: 20px auto 40px 0px;
    }
    .price-padding{
        padding-left: 0px;
        padding-right: 0px;
    }
    .clients_logo li{
        margin-left: 0px;
    }    
}
