
@media (max-width: 980px){
    .timeline{
        margin-left: 0px;
    }
    .timeline-head{
        float: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .timeline-head-content{
        width: 90%;
    }

    .timeline-item-date{
        width: 143px;
        margin-left: 60px;
    }
    .timeline-arrow i {
        left: 221px;
        top: 75px;
        transform: rotate(44deg);
        width: 10px;
    }    
    .timeline-item-content{
        margin-top:14px; 
        width: 90%;
    }
/***************************/
/* New Code Added  */
/***************************/

    .timeline{
        background: none;
    }
    .timeline::after{
        content: "";
        display: none;
    }
    .timeline-post{
        padding: 10px;        
    }
    .timeline-post-left, .timeline-post-right{
        width: 100%;
        text-align: left;
    }
    .timeline-post-right{
        margin-top: 0;
    }
    .timeline-post-content-holder::before{
        content: "";
        display: none;
    }
    .timeline-post-icon{
        display: none;
    }

    .timeline-end-icon{
        display: none;
    }

    
    .about-info {
        margin-top: 50px;
    }
    .about-extra {
        margin-top: 50px;
    }

    #filters li{
        display: block;
    }

}

