


.timeline {
    height: 100%;
}
.timeline:after, .timeline::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 49.8%;
    width: 3px;
    height: 100%;
    background-color: #dbdde5;
    z-index: 5;    
}
.timeline-category{
    text-align: center;
    position: relative;
    z-index: 6;
	
}
.bt-timeline{
    display: inline-block;
    color: #2c3d4f;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #dbdde5;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 0;
}
.timeline-category-icon{
    margin-top: 20px;
}
.edu-cagegory{
    clear: both;
}


.timeline-post-left{
    text-align: right;
    width: 50%;
	margin-top: 10%;
}
.timeline-post-right{
    text-align: left;
    width: 50%;
    margin-top: 30%;
}
.timeline-post{
	color: #dbdde5;
    padding: 10px 38px;
    float: left;
    position: relative;
}

.timeline-post-content-holder{
    padding: 15px;
	transition: 0.3s;
	border-radius: 5px;
}
.timeline-post:hover .timeline-post-content-holder{
    background-color: #dbdde5;
	color: black
}

.education {
  background-image: url("../image/education.png");
}

.work {
  background-image: url("../image/work.png");
}

.research {
  background-image: url("../image/research.png");
}

.timeline-img {
	position:absolute;
	width:50px;
	height:50px;
	top: 12px;
	border-radius:50%;
	background:#212121;
	transform:translateZ(0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	transition:0.3s;
	z-index: 99
}

.timeline-post-left .timeline-img{
  right: -25px
}

.timeline-post-right .timeline-img{
  left: -25px
}

.timeline-img .sprite {
	display:block;
	width:24px;
	height:24px;
	position:relative;
	left:50%;
	top:50%;
	margin-left:-12px;
	margin-top:-12px;
	background-repeat:no-repeat;
	background-size:100%;
	filter: 
}

.timeline-post-right > .timeline-post-content-holder:before {
    right: 100%;
	margin-right: -38px;
    top: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 13px;
    margin-top: 25px;
	transition: 0.3s;
}

.timeline-post-left > .timeline-post-content-holder:before {
    left: 100%;
	margin-left: -38px;
    top: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 13px;
    margin-top: 25px;
	transition: 0.3s;
	border-color: rgba(255, 255, 255, 0);
}

.timeline-post-right:hover .timeline-img,
.timeline-post-left:hover .timeline-img {
	-webkit-filter: invert(100%);
}
.timeline-post-right:hover > .timeline-post-content-holder:before {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #dbdde5;
}
.timeline-post-left:hover > .timeline-post-content-holder:before{
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #dbdde5;
}

.timeline-post .timeline-post-title h4{
    font-family: "Raleway";
    font-size: 22px;
    font-weight: bold;
}
.timeline-post .timeline-post-subtitle p{
    font-family: "Raleway";
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.timeline-post .timeline-post-content{
    font-family: "Raleway";
    font-size: 16px;
    line-height: 28px;
}
.timeline-post span.timeline-duration{
    position: relative;
    padding-left: 15px;
}
.timeline-post span.timeline-duration:before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    line-height: 1;
    background-color: #e74b3b;
    left: 3px;
    margin-top: 12px;
    border-radius: 50%;

}

.timeline-end-icon{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #cbcfdb;
    color: #5f7183;
    font-size: 18px;
    line-height: 40px;
    bottom: 0;
    left: 48.3%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    z-index: 6;
}